@import "../constants";

.Party{
  width: 100%;
  display: grid;

  grid-auto-rows: 1fr;
  grid-gap: 5px;

  grid-template-rows:
    1fr
    repeat(auto-fill, 1fr)
    @single-character-buttons-height;

  .noCharacterMessage {
    font-style: italic;
    text-align: center;
  }
}