@import "../../constants";

.PartyControls{
  display: grid;
  justify-items: start;
  grid-template-columns: 1fr @single-character-buttons-width;

  grid-gap: 5px;

  label {
    width: 90%;
    font-weight: bold;
    justify-items: start;
    display: grid;
    grid-template-columns: 1fr 7fr;

    .name {
      width: 100%;
    }
  }

  .errorContainer{
    width: 90%;
    display: grid;
    justify-items: start;
    grid-template-columns: 1fr 7fr;
    grid-template-areas: ". error";

    .error {
      grid-area: error;
      font-weight: lighter;
      font-size: smaller;
      color: red;
    }
  }

  .addCharacter{
    max-height: @single-character-buttons-height;
    background-color: gray;
    color: black;
    border-radius: 10px;
    border: 5px black;
    font-size: large;

    &:disabled {
      opacity: 0.3;
    }

    &:enabled:hover{
      background-color: black;
      color: white;
    }
  }
}
